/** SHARED **/
/* #region */

/* Order-summary */
/* #region */

.progress,
.progress-next {
  margin: 0 20px;
}

.item-container,
.information-edit .btn,
.change-password .btn {
  margin: 15px 0;
}

.cart-total {
  margin: 0;
}

.item-container {
  padding: 0;
}

.cart-item img {
  grid-row: 1/3;
  grid-column: 2;
  width: 80px;
  object-fit: cover;
  height: 80px;
  margin-left: 20px;
}
/* #endregion */

/* hidden by default*/
/* #region */
input[type="checkbox"],
.checkout .information-details,
.payment,
.complete-checkout,
.info-checkout-progress,
.information-edit,
.payment-wallet,
.payment-card,
.ccv-help {
  display: none;
}
/* #endregion */
/* #endregion */

/** CHECKOUT **/
/* #region */
.input {
  display: flex;
  flex-direction: column;
}

.checkout > div,
.checkout section {
  margin-bottom: 30px;
}

.payment {
  grid-column: 1/3;
}

.complete-checkout {
  padding: 0 20px;
}

.complete-checkout > div {
  justify-content: space-between;
}

.complete-checkout a {
  max-width: revert;
}

/* progress & steps */
/* #region */
.progress {
  grid-template-columns: repeat(2, auto 1fr);
  align-items: center;
}

.progress > :nth-child(3),
.progress div:last-of-type {
  background-color: var(--light-grey);
}

.progress > :nth-child(1),
.progress div:first-of-type,
.info-checkout-progress > :nth-child(3),
.info-checkout-progress div:last-of-type {
  background-color: var(--main-color);
}

.progress div {
  height: 8px;
}

.progress label {
  color: white;
  padding: 10px;
  border-radius: 2px;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-steps:checked ~ .information-details,
.checkbox-steps:checked ~ .payment,
.checkbox-steps:checked ~ .complete-checkout,
.checkbox-steps:checked ~ .info-checkout-progress {
  display: grid;
}

.checkbox-steps:checked ~ .checkout-order-summary,
.checkbox-steps:checked ~ .cart-checkout-progress,
.checkbox-steps:checked ~ .progress-next {
  display: none;
}
/* #endregion */

/* Your information */
.information-summary,
.information-edit {
  gap: 15px;
}

.checkbox-edit:checked ~ .information-edit {
  display: grid;
}
.checkbox-edit:checked ~ .information-summary {
  display: none;
}

.information-details {
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
}

.edit-info {
  justify-self: end;
  align-self: center;
}

.edit-info i {
  font-size: 2rem;
  color: var(--main-color);
}

.checkout .information-summary,
.information-edit {
  grid-column: 1/3;
}

.information-summary,
.information-summary > div {
  flex-direction: column;
}

/* payment */
.payment {
  grid-template-columns: auto 1fr;
  gap: 7px;
}

.payment-label {
  font-weight: 600;
  padding-bottom: 7px 0;
}

.payment h2,
.payment-label,
.payment-card {
  grid-column: 1 / 3;
}

/* card */
input[value="card"]:checked ~ .payment-card {
  display: grid;
}
.payment-card {
  gap: 15px;
  margin: 30px 0;
}

.input.ccv {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.ccv label:last-of-type {
  margin-left: 7px;
}

.ccv {
  position: relative;
}

.ccv input,
.ccv label:last-of-type {
  grid-row: 2;
}

.ccv .checkbox-ccv:checked ~ .ccv-help {
  display: block;
  border-radius: 2px;
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}

.ccv-help img {
  max-width: 150px;
}

/* wallet */
input[value="wallet"]:checked ~ .payment-wallet {
  display: block;
}

.payment-wallet {
  grid-column: 1/3;
  margin-top: 15px;
}

.wallet-list {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.wallet-list :nth-child(2) {
  font-weight: 600;
  font-size: 1.3rem;
}

.wallet-list + span:last-of-type {
  padding: 10px 0;
  margin-top: 10px;
  border-top: 3px solid var(--main-color);
}
/* #endregion */

/** CHECKOUT SUCCESS **/
/* #region */

.order-details span {
  font-weight: 600;
}

.order-details :nth-child(2) {
  font-size: 1.5rem;
}
/* #endregion */

/* Complete checkout */
/* #region */
.complete-checkout .cart-total {
  justify-self: auto;
  border-top: none;
}
.complete-checkout .cart-total span {
  margin-top: 0;
}
/* #endregion */

/** ACCOUNT **/
.account-page section {
  margin-bottom: 30px;
}
.change-password label {
  display: block;
}
.change-password input {
  margin-bottom: 15px;
}

.change-password .btn {
  box-sizing: content-box;
}

.change-password {
  flex-direction: column;
}

.gamehub-wallet {
  grid-template-columns: 1fr auto;
}

.gamehub-wallet img {
  grid-column: 2;
  grid-row: 1 / 3;
  max-width: 100px;
  justify-self: end;
  align-self: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.order-history thead {
  display: none;
}

.order-history tr {
  display: grid;
  grid-template: 1fr 1fr;
  justify-content: space-between;
}

tbody > :nth-child(2) {
  margin: 30px 0;
}

tbody tr :nth-child(2),
tbody tr :nth-child(4) {
  font-weight: 600;
}

tbody tr :nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}

.order-history thead {
  text-align: left;
}

.order-history tr :nth-child(2) {
  width: auto;
}

td,
th {
  padding: 5px 20px 5px 0;
}

.account-page > div {
  flex-direction: column;
}

@media (min-width: 700px) {
  .progress-next {
    justify-self: end;
  }

  .information-details {
    margin-top: 0;
  }

  .information-edit,
  .complete-checkout,
  .payment-card {
    grid-template-columns: 1fr 1fr;
  }
  .information-edit,
  .payment-card {
    gap: 20px;
  }

  .checkout .btn,
  .account-page .btn,
  .account-page .label-btn,
  .checkout .label-btn {
    justify-self: end;
    min-width: 140px;
  }

  .information-edit > :nth-child(5),
  .information-edit > :nth-child(6),
  .information-edit > :nth-child(9) {
    grid-column: 1/3;
  }

  .information-edit .label-btn {
    grid-column: 2;
  }
  .information-edit .btn {
    margin: 15px 0;
  }

  .payment-card > :nth-child(1) {
    grid-column: 1/3;
  }
  .complete-checkout .cart-total {
    flex-direction: column;
  }

  .cart-total span {
    margin: 7px 0;
  }

  .complete-checkout .btn {
    align-self: center;
  }

  .change-password .btn {
    align-self: flex-end;
  }
  /** CHECKOUT SUCCESS **/
  /* #region */
  main.checkout-success {
    grid-template-columns: 1fr auto;
  }

  .checkout-success h1 {
    font-size: 2.5rem;
  }

  .checkout-success .order-summary {
    grid-column: 2;
    padding: 20px 40px;
    grid-row: 1/4;
    margin-top: 20px;
  }
  /* #endregion */

  /** ACCOUNT PAGE **/
  /* #region */
  .order-history thead {
    display: revert;
  }

  .order-history tr {
    display: revert;
  }

  tbody tr :nth-child(2),
  tbody tr :nth-child(4) {
    font-weight: inherit;
  }

  /* #endregion */
}

@media (min-width: 980px) {
  .checkout,
  .account-page {
    gap: 0 30px;
  }

  /** Checkout page **/
  /* #region */
  .checkout {
    grid-template-columns: 1fr auto;
  }
  .progress,
  .progress-next {
    display: none;
  }

  .checkout .information-details,
  .payment,
  .complete-checkout {
    display: grid;
    grid-column: 1;
  }

  .checkout .order-summary {
    grid-column: 2;
    grid-row: 2 / 5;
    align-self: start;
  }

  .complete-checkout {
    margin-left: 20px;
  }
  /* #endregion */

  /** ACCOUNT PAGE **/
  /* #region */
  .account-page {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto auto 1fr;
    align-items: start;
  }
  .account-page h1 {
    grid-column: 1/3;
  }

  .account-page > div {
    grid-column: 2;
    grid-row: 2/4;
  }
  /* #endregion */
}
