.container {
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.wrapper {
  align-self: center;
  margin: 0 20px;
  grid-template-rows: auto 1fr auto;
  max-width: 850px;
  width: 100%;
}

h1 {
  margin-left: 0;
}

main input {
  margin-bottom: 10px;
}

textarea {
  min-height: 160px;
}

main .btn {
  margin: 20px 0;
}
.contact-methods {
  margin: 0;
  align-self: center;
  gap: 30px;
}

.contact-methods div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  min-height: 80px;
}

h2 {
  align-self: end;
  margin: 0;
  font-size: 1.4;
}

h2,
span:last-of-type {
  grid-column: 2;
}

.contact-methods span {
  display: block;
}

.contact-methods > div > span:first-of-type {
  color: var(--main-color);
  grid-row: 1/3;
  align-self: center;
  font-size: 3.5rem;
}

@media (min-width: 900px) {
  .wrapper {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    padding: 20px 60px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 60px;
  }

  .btn {
    justify-self: end;
  }

  .contact-methods {
    grid-column: 2;
    grid-row: 1/3;
  }
}
