/* CSS DIRECTORY
------------------------------------------------------------
    1. GENERAL
    2. CONTACT US
    3. F.A.Q.
    4. RESELL
    5. MEDIA QUERIES
*/

/** GENERAL **/
/* #region */
.container.flex {
  flex-direction: column;
}
/* #endregion */

/** CONTACT US **/
/* #region */
.contact {
  flex: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.wrapper {
  align-self: center;
  margin: 0 20px;
  grid-template-rows: auto 1fr auto;
  max-width: 900px;
  width: 100%;
}

.contact h1 {
  margin-left: 0;
}

textarea {
  min-height: 160px;
  resize: vertical;
}

.contact .btn {
  margin: 20px 0;
}
.contact-methods {
  margin: 0;
  align-self: center;
  gap: 30px;
}

.contact-methods div {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  min-height: 80px;
}

.contact h2 {
  align-self: end;
  margin: 0;
  font-size: 1.4rem;
}

.contact h2,
.contact span:last-of-type {
  grid-column: 2;
}

.contact-methods span {
  display: block;
}

.contact-methods > div > span:first-of-type {
  color: var(--main-color);
  grid-row: 1/3;
  align-self: center;
  font-size: 3.5rem;
}
/* #endregion */

/** F.A.Q. **/
/* #region */
.faq {
  flex-direction: column;
}

.faq h2 {
  margin: 20px 0 0 0;
}

.faq label {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}

.answer {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 5px 20px;
  display: none;
}

input[type="checkbox"]:checked ~ .answer {
  display: revert;
}
input[type="checkbox"]:checked ~ label {
  background-color: var(--main-color);
  color: var(--white);
}
/* #endregion */

/** RESELL **/
/* #region */
.resell {
  flex: auto;
  align-items: center;
  margin: 60px 0 30px 0;
  justify-self: center;
  align-self: center;
  width: 100%;
}

.resell section:first-of-type {
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.resell h1 {
  text-align: center;
}

select {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--light-grey);
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.resell .btn {
  margin: 15px 0 20px 0;
}

.resell ul {
  list-style: none;
  padding: 0 15px;
}
.resell ul li:before {
  content: "\2713";
  color: var(--main-color);
  margin-right: 5px;
  font-size: 1.6rem;
  font-weight: 600;
}

ol li::marker {
  color: var(--main-color);
  font-size: 1.6rem;
}

.resell li {
  font-size: 1.3rem;
}

.resell :is(ul, ol) {
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

.how-to {
  background-color: var(--almost-white);
}
.criteria,
.resell-bg {
  background-color: #dce1e6;
}

.text-content {
  margin: 0;
  padding: 20px;
}
/* #endregion */

/** MEDIA **/
/* #region */
@media (min-width: 980px) {
  /** CONTACT US **/
  /* #region */
  .wrapper {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 20px 60px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    column-gap: 60px;
  }

  .btn {
    justify-self: end;
  }

  .contact-methods {
    grid-column: 2;
    grid-row: 1/3;
  }
  /* #endregion */

  /** RESELL **/
  /* #region */
  .resell-bg {
    background: linear-gradient(var(--almost-white) 0 50%, #dce1e6 50% 100%);
  }

  .resell {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .resell section:first-of-type {
    grid-row: 1/3;
    align-self: center;
    max-width: 400px;
    padding: 30px;
    margin-bottom: 0;
  }

  .text-content {
    background-color: revert;
  }
  /* #endregion */
}
/* #endregion */
