main {
  flex-direction: column;
}

h2 {
  margin: 20px 0 0 20px;
}

h3 {
  margin: 0;
}
label {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.answer {
  border-radius: 0 0 2px 2px;
  padding: 5px 20px;
  display: none;
}

input[type="checkbox"]:checked ~ .answer {
  display: revert;
}
input[type="checkbox"]:checked ~ label {
  background-color: var(--main-color);
  color: var(--white);
}
