.product-page {
  flex-direction: column;
  gap: 15px;
}

/* Image section */
.product-images {
  flex-direction: column;
  justify-content: space-between;
}
product-images img {
  display: block;
}

.main-image {
  justify-content: center;
}

.main-image img {
  max-width: 150px;
  object-fit: contain;
  margin: 30px;
}

.image-scroll {
  overflow: auto;
  gap: 7px;
}
.image-scroll img {
  object-fit: cover;
  min-width: 30%;
  margin: 7px 0;
  min-height: 70px;
}

/* Description */
.product-description {
  flex-direction: column;
  gap: 1.2rem;
}
.product-description p {
  margin: 0;
}
.product-description div {
  gap: 15px;
  margin-top: 20px;
}

select {
  padding: 12px 7px;
  border-radius: 2px;
  border: 1px solid var(--black);
  background-color: var(--dark-grey);
  color: var(--white);
  font-size: 1.2rem;
}

/* System req */
.system-req {
  margin-top: 30px;
}

.system-req h2 {
  margin: 0;
}

.system-req h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--dark-grey);
}

.system-req ul {
  padding-left: 0;
}

.system-req li {
  flex-direction: column;
  margin: 15px 0;
}

.system-req span {
  display: inline-block;
  flex: 1;
}
.system-req span:nth-child(1) {
  font-weight: 600;
}
@media (min-width: 550px) {
  /* description */
  .product-description div {
    grid-template-columns: 1fr 1fr;
  }

  /* system req */
  .system-req li {
    justify-content: space-between;
    margin: 15px 20px 0 0;
  }
  .system-req span:nth-child(2) {
    flex: 3;
  }
}

@media (min-width: 700px) {
  /* image section */
  .main-image img {
    max-width: 250px;
  }

  .system-req {
    grid-template-columns: 1fr 1fr;
  }
  .system-req h2 {
    grid-column: 1/3;
  }
}

@media (min-width: 980px) {
  .product-page {
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
  }

  .product-images {
    grid-column: 1;
    grid-row: 1/3;
  }

  .system-req {
    grid-column: 1/3;
  }

  .main-image {
    flex: auto;
  }

  .image-scroll img {
    min-height: 100px;
    min-width: 25%;
  }

  .product-description h2,
  .image-scroll img {
    margin-bottom: 0;
  }

  .system-req {
    margin-top: 60px;
  }

  .system-req li {
    flex-direction: row;
  }
}
