.container {
  flex-direction: column;
}

main {
  flex: auto;
  align-items: center;
  margin: 30px 0;
  justify-self: center;
  align-self: center;
  width: 100%;
}

section:first-of-type {
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

select {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--light-grey);
  margin-bottom: 30px;
  font-size: 0.9rem;
}

main .btn {
  margin: 15px 0 20px 0;
}

main ul {
  list-style: none;
  padding: 0 15px;
}
main ul li:before {
  content: "\2713";
  color: var(--main-color);
  margin-right: 5px;
  font-size: 1.6rem;
  font-weight: 600;
}

ol li::marker {
  color: var(--main-color);
  font-size: 1.6rem;
}

main li {
  font-size: 1.3rem;
}

main ul,
main ol {
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

.how-to {
  background-color: var(--almost-white);
}
.criteria,
body {
  background-color: #dce1e6;
}

.text-content {
  margin: 0;
  padding: 20px;
}

@media (min-width: 980px) {
  body {
    background: linear-gradient(var(--almost-white) 0 50%, #dce1e6 50% 100%);
  }
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  section:first-of-type {
    grid-row: 1/3;

    align-self: center;
    max-width: 400px;
    padding: 30px;
    margin-bottom: 0;
  }

  .text-content {
    background-color: revert;
  }
}
