body {
  min-height: 100vh;
}

header {
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header img,
header a {
  max-height: 35px;
}

.dark-mode {
  display: inline-block;
  font-size: 2rem;
}

main {
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  flex-direction: column;
  margin: 0 20px;
  gap: 15px;
  width: 100%;
  max-width: 450px;
}

p {
  margin: 5px 0;
}

h1 {
  margin: 20px 0 10px 0;
}

span:last-of-type a {
  display: block;
  text-align: left;
}

.input a {
  text-align: left;
  color: var(--light-grey);
  font-weight: 400;
}
.input a:hover {
  color: var(--black);
}

.btn {
  margin: 10px 0 5px 0;
}

@media (min-width: 350px) {
  h1,
  p,
  span:last-of-type,
  span:last-of-type a {
    text-align: center;
  }
}

@media (min-width: 500px) {
  main {
    flex: auto;
  }

  form {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    padding: 30px 60px;
    max-width: 450px;
  }
}
@media (min-width: 700px) {
  form {
    padding: 30px 120px;
  }
}
