/* CSS DIRECTORY
    1. VARIABLES
    2. GENERAL
    3. TYPOGRAPHY
    4. UTILITIES
    5. LINKS/BUTTONS
    6. SITE WIDE (header, nav, footer)
    7. PRODUCT CARD
    8. BANNERS
    9. MEDIA QUERIES
*/

/** 1. VARIABLES **/
/* #region variables*/
:root {
  --main-color: #097895;
  --main-color-dark: #174b58;
  --main-color-light: #3590a8;
  --white: #ffffff;
  --almost-white: #f9fbfc;
  --light-grey: #6f727b;
  --dark-grey: #2b2c31;
  --almost-black: #1b1c20;
  --black: #131313;
}
/* #endregion */

/** 2. GENERAl **/
/* #region general */
body {
  color: var(--black);
  background-color: var(--almost-white);
  min-width: 280px;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

main,
.footer-wrapper {
  max-width: 1300px;
}

img {
  width: 100%;
}

body,
main,
.pre-order-banner a,
.footer-wrapper {
  margin: 0 auto;
}
/* #endregion */

/** 3. TYPOGRAPHY **/
/* #region typography */
h2,
.menu a,
.btn,
.sale-banner-content p,
.resell-banner-content p {
  font-family: "Raleway", sans-serif;
}

h2,
.menu a,
.resell-banner-content p,
.cart-total {
  font-size: 1.4rem;
}

.pre-order-content h2 {
  font-size: 1.8rem;
  font-weight: 800;
}

h2,
.menu a,
.cart-price,
.resell-banner-content,
.btn,
.card,
.sale-banner-content,
.cart-total,
.back-label,
.link {
  font-weight: 600;
}

.icons,
.sale-banner-content {
  font-size: 2.5rem;
}

.card {
  font-size: 1rem;
}

.cart-icon,
.card-status,
.old-price,
footer p {
  font-size: 0.9rem;
}
/* #endregion */

/** 4. UTILITIES **/
/* #region utilities */
.screen-reader-only {
  position: absolute;
  clip: rect (1px);
  clip-path: inset (50%);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  word-wrap: normal;
  overflow: hidden;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.icons {
  color: var(--white);
}

.icons:hover {
  color: rgb(219, 216, 216);
}

.image-center {
  object-position: center;
}
.image-bottom {
  object-position: bottom;
}
.image-top {
  object-position: top;
}
/* #endregion */

/** 5. LINKS/BUTTONS */
/* #region links/buttons */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.link {
  color: var(--main-color);
  text-align: center;
}

.link:hover {
  text-decoration: underline;
  color: var(--main-color-dark);
}
.btn {
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  border-radius: 2px;
  padding: 12px 70px;
  text-align: center;
  display: block;
  max-width: 380px;
}

.btn:focus,
.btn:hover,
.search-icon:focus,
.search-icon:hover {
  background-color: var(--main-color-dark);
}

.btn:focus,
.search-icon:focus {
  outline: 1px solid var(--black);
}

.btn:active,
.search-icon:active {
  background-color: var(--main-color-light);
}
/* #endregion */

/** 6. SITE WIDE **/
/* #region */
/* #region Header*/
header label,
.icons {
  cursor: pointer;
}

header {
  background-color: var(--main-color);
  position: relative;
  border-bottom: 3px solid var(--black);
}

header .logo,
.hamburger-icon,
.cart-icon {
  justify-self: center;
}

.header-wrapper {
  grid-template-columns: auto 1fr auto;
  padding: 10px 20px;
}

.checkbox-hack,
.skip,
.cart-overlay,
.account,
.dark-mode,
nav,
.search-overlay {
  display: none;
}

.back-label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.skip a:focus {
  position: absolute;
  text-decoration: underline;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  margin-left: 20px;
  color: white;
}

.logo {
  display: block;
  max-width: fit-content;
}

.logo img,
.logo,
.hamburger-icon {
  max-height: 40px;
}
.hamburger-icon {
  grid-column: 1;
}

.search-icon {
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
}
.search-icon span:hover {
  color: white;
}

/* cart icon */
.cart-icon {
  border: none;
  justify-self: end;
  min-height: 40px;
  position: relative;
}
.cart-number {
  background-color: var(--black);
  color: white;
  border-radius: 3px;
  padding: 5px;
  max-width: min-content;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* #endregion */

/* #region Overlays / navigation */
.cart-overlay,
nav {
  min-width: 280px;
}
.cart-overlay,
.search-overlay,
nav {
  position: fixed;
  height: 100vh;
}

.menu-checkbox:checked ~ nav {
  display: revert;
  width: 100%;
}

.menu-checkbox:checked ~ nav,
nav .menu {
  height: 100%;
}

nav .menu {
  background-color: var(--white);
}
.menu-wrapper {
  flex-direction: column;
}

.sub-menu {
  background-color: var(--main-color);
  height: 40px;
  padding: 10px 20px;
  justify-content: space-between;
}

.sub-menu-icons span {
  margin-left: 15px;
}

.menu ul {
  margin-top: 0;
  padding-left: 0px;
}
.menu ul a {
  display: block;
  color: black;
  padding: 15px 20px;
}
.menu a.active {
  background-color: #b6b8bc;
  border-right: 10px double var(--black);
}

/* search overlay */
.search-checkbox:checked ~ .search-overlay {
  display: revert;
  background-color: var(--white);
  width: 100vw;
  padding-top: 20px;
  top: 0;
  left: 0;
}
.search-overlay label {
  margin-left: 20px;
  padding-top: 10px;
}
.search-container {
  margin-top: 40px;
  width: 100%;
}

.search-container a {
  padding: 10px;
  margin-right: 20px;
  border-radius: 0 2px 2px 0;
  display: inherit;
}

.search-container input {
  flex: auto;
  margin-left: 20px;
  border-radius: 2px 0 0 2px;
  border: 2px solid var(--main-color);
  box-shadow: inset 1px 1px 4px var(--light-grey);
}

/* cart overlay */
.cart-checkbox:checked ~ .cart-overlay {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--white);
  padding: 20px 0 20px 20px;
  width: 100vw;
  z-index: 1002;
  box-shadow: 2px 2px 6px rgba(75, 76, 78, 0.466);
}

.cart-overlay h2 {
  margin: 30px 20px 30px 0;
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 30px;
}

.item-container {
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
  flex: auto;
  overflow: auto;
  scrollbar-color: var(--dark-grey) var(--light-grey);
  scrollbar-width: thin;
}

.item-container::-webkit-scrollbar {
  width: 5px;
  height: auto;
  background-color: var(--light-grey);
}

.item-container::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
}

.cart-item {
  grid-template-columns: 1fr auto;
  gap: 5px;
  width: 100%;
  color: black;
}

.cart-remove {
  color: var(--main-color);
  text-align: right;
  grid-column: 2;
  grid-row: 1;
}
.cart-price,
.cart-title {
  margin: 0;
}

.cart-remove:hover {
  color: var(--main-color-dark);
}

.cart-total {
  border-top: 2px solid var(--main-color);
  justify-content: space-between;
  margin: 30px 20px 0 0;
  justify-self: flex-end;
}

.cart-overlay .btn {
  margin-right: 20px;
}

.cart-overlay .link {
  margin: 20px 20px 0 0;
}
/* #endregion */

/* #region Footer */
footer {
  padding-top: 20px;
  gap: 10px;
  justify-self: end;
  margin-top: 40px;
  background-color: var(--black);
  color: var(--white);
}

.footer-wrapper {
  grid-template-columns: repeat(2, 1fr);
}

footer a {
  color: inherit;
}

footer .logo {
  grid-column: 1 / 3;
  justify-self: center;
}

.footer-links,
.footer-social {
  align-self: center;
  margin: 20px;
  gap: 20px;
}

.footer-links {
  flex-direction: column;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  justify-self: end;
}

footer p {
  width: 100%;
  text-align: center;
  grid-column: 1 / 3;
  margin-bottom: 5px;
}

/* #endregion */
/* #endregion */

/** 7. PRODUCT CARDS **/
/* #region */
.games-section {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 15px;
  margin: 30px 20px;
}
.games-section h2,
.card-title {
  margin: 0;
}

.card {
  background-color: var(--white);
  color: black;
  box-shadow: 2px 2px 6px rgba(75, 76, 78, 0.466);
  border-radius: 2px;
  min-width: 100px;
  color: inherit;
}

.card:hover {
  background-color: #eff1f5;
}

.card-image {
  max-width: 40%;
}

.card-image img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 2px 0px 0px 2px;
}

.card-details {
  flex: auto;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 1fr auto;
  align-content: space-between;
  min-height: 100px;
}

.card-title {
  grid-column: 1 / span 2;
}

.card-status,
.old-price {
  color: var(--light-grey);
}

.card-status {
  margin: 0px;
  align-self: end;
}

.current-price,
.old-price {
  margin: 0px;
  text-align: right;
}
/* #endregion */
/** 6. BANNERS **/
/* #region */
.sale-banner a:focus,
.resell-banner a:focus,
.card:focus {
  outline: 2px solid var(--main-color);
}

.sale-banner a,
.resell-banner a {
  display: block;
}

/* #region Pre-order banner */
.pre-order-banner,
.pre-order-content {
  flex-direction: column;
}

.pre-order-content {
  padding: 30px 20px;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  justify-content: center;
}

.pre-order-content h2 {
  margin: 0;
}

.pre-order-image {
  height: 200px;
}

.pre-order-content p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.pre-order-banner img {
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
}

/* #endregion */

/* #region sales banner */
.sale-banner-content {
  background: no-repeat url(../images/sale/sale-bg-small.png);
  background-size: cover;
  color: #f89523;
  text-align: center;
}

.sale-banner-content img {
  max-width: 500px;
  justify-self: center;
  grid-row: 2;
}

.sale-banner-content p {
  justify-self: end;
  transform: rotate(10deg);
  margin: 5px 0;
}

.sale-banner-content,
.resell-banner-content {
  padding: 10px 20px;
  border-radius: 2px;
}
/* #endregion */

/* #region resell banner */
.resell-banner-content {
  justify-content: space-between;
  gap: 30px;
  background-color: var(--black);
  color: var(--white);
}

.resell-banner-image {
  align-self: center;
}

.resell-banner-image img {
  width: 50px;
}
/* #endregion */
/* #endregion */

/** MEDIA QUERIES **/
/* #region */
@media (min-width: 330px) {
  .cart-checkbox:checked ~ .cart-overlay {
    right: 0;
    padding: 40px 0 40px 40px;
  }

  .item-container {
    padding-right: 40px;
  }

  .cart-total {
    margin: 30px 40px 0 0;
  }
  .cart-overlay .btn {
    margin-right: 40px;
  }

  .cart-overlay h2 {
    margin-right: 40px;
  }

  .cart-overlay .link {
    margin: 20px 40px 0 0;
  }

  .menu-checkbox:checked ~ nav {
    z-index: 1002;
  }

  .menu-checkbox:checked ~ nav,
  .cart-checkbox:checked ~ .cart-overlay,
  .menu-wrapper {
    max-width: 550px;
  }

  .cart-checkbox:checked ~ .overlay,
  .menu-checkbox:checked ~ .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.562);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
  }

  /* Product cards */
  .card {
    font-size: 1.2rem;
  }

  .card-status,
  old-price {
    font-size: 1rem;
  }

  .sale-banner-content {
    grid-template-columns: 1fr auto 1fr;
  }

  .sale-banner-content img {
    grid-column: 2;
    grid-row: 1;
  }

  .sale-banner-content p {
    align-self: center;
    grid-column: 3;
  }
}

@media (min-width: 700px) {
  /* Footer */
  .footer-wrapper,
  .games-section {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .logo {
    grid-column: 1;
    justify-self: start;
    align-self: center;
    margin-left: 20px;
  }

  .footer-links {
    flex-direction: row;
    justify-self: center;
    gap: 45px;
  }

  footer p {
    grid-column: 1/4;
  }

  .footer-social {
    margin-right: 20px;
  }

  /* Product cards */
  .games-section {
    gap: 15px;
  }

  .games-section h2 {
    grid-column: 1/4;
  }

  .card {
    flex-direction: column;
  }
  .card-image {
    max-width: 100%;
    max-height: 250px;
  }
  .card-image img {
    object-fit: cover;
    display: revert;
    height: 100%;
    border-radius: 2px 2px 0 0;
  }

  /* banners */
  .pre-order-banner {
    flex-direction: row;
    margin: 30px 20px 30px 20px;
  }

  .pre-order-image {
    flex: 2;
    height: 300px;
  }
  .pre-order-banner img {
    border-radius: 2px 0 0 2px;
  }

  .pre-order-content {
    flex: 1;
    min-width: 300px;
    border-radius: 0 2px 2px 0;
  }

  .sale-banner,
  .resell-banner {
    margin: 30px 20px;
  }

  .sale-banner-content {
    background: no-repeat url(../images/sale/sale-bg-large.png);
    background-size: cover;
  }

  .sale-banner-content p {
    font-size: 4rem;
  }

  .resell-banner-content p {
    font-weight: 800;
    font-size: 2rem;
  }

  .resell-banner-content img {
    width: 100px;
  }
}

@media (min-width: 980px) {
  /* Incase of menu wasn't closed when on bigger screen */
  .menu-checkbox:checked ~ .overlay {
    display: none;
  }

  .menu-checkbox:checked ~ nav {
    max-width: 100%;
  }

  .cart-checkbox:checked ~ .overlay {
    display: block;
  }

  /* Header and nav */
  .skip,
  .account,
  .dark-mode {
    display: inline;
  }

  .hamburger-icon,
  .close-icon,
  .search-icon,
  .search-overlay .back-label,
  .sub-menu {
    display: none;
  }
  .header-wrapper {
    grid-template-columns: 1fr repeat(3, auto);
    min-height: 130px;
    align-content: center;
    padding: 0;
  }

  .header-wrapper,
  .menu-wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  header .logo {
    grid-column: 1;
    justify-self: start;
  }
  .dark-mode {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
  }

  .logo,
  .cart-icon {
    margin: 20px;
  }

  .logo,
  .logo img {
    max-height: 70px;
  }

  header .logo,
  .account,
  .cart-icon,
  .dark-mode {
    align-self: center;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  nav,
  .search-overlay {
    height: revert;
    display: block;
  }
  nav .menu {
    background-color: var(--black);
    box-shadow: 1px 2px 7px 1px var(--dark-grey);
  }

  .menu-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
    gap: 10px;
    justify-content: space-between;
  }

  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  .menu ul {
    margin: 0 0 0 20px;
  }
  .menu ul a {
    color: var(--white);
    padding: 15px 10px;
  }

  .menu ul a:hover,
  .menu ul a:focus {
    background-color: var(--dark-grey);
  }

  .menu a.active {
    border-bottom: 5px solid var(--white);
    background-color: revert;
    border-right: none;
  }

  .search-overlay {
    flex: auto;
    position: static;
    max-width: 400px;
    width: 100px;
  }

  .search-container {
    margin-top: 0;
  }

  .search-container a {
    padding: 7px;
  }

  /* Product cards layout */
  .games-section {
    grid-template-columns: repeat(5, 1fr);
  }

  .games-section h2 {
    grid-column: 1/6;
  }
}
/* #endregion */
